{% extends "./base.html" %}
{% block content %}

{% for msg in messages  %}
<div class="alert alert-{{msg.tags}} w-25 m-auto m-5" role="alert">
  {{msg}}
</div>

{% endfor %}
<div class="card text-bg-info mb-3 m-auto mt-5" style="max-width: 18rem;">
    <div class="card-header">{{request.user.first_name}} {{request.user.last_name}}</div>
    <div class="card-body">
      <h5 class="card-title">{{request.user.username}}</h5>
      <p class="card-text">Email: {{request.user.email}}</p>
    </div>
  </div>

<div class="passchange d-flex align-items-center flex-column gap-3">
  <a href="{% url "passchange" %}">Change password</a>
  <h4>forgot the old password? change from <a href="{% url "reset" %}">Here</a></h4>
</div>





{% endblock content %}
